{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap" rel="stylesheet"/>
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <link rel="stylesheet" href="{% static 'wardogs/css/layout.css' %}">
    <script src="{% static 'wardogs/js/layout.js' %}" defer></script>
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav>
        <div class="nav-logo">
            <a href="#">
                <img src="{% static 'wardogs/img/logo.png' %}" alt="">
            </a>
        </div>

        <ul class="nav-links">
            <li class="nav-link">
                <a href="#">Inicio</a>
            </li>
            <li class="nav-link">
                <a href="#">Misiones</a>
            </li>
            <li class="nav-link">
                <a href="#">Miembros</a>
            </li>
            <li class="nav-link">
                <a href="#">Nosotros</a>
            </li>
            <li class="nav-link">
                <a href="#">Insignias</a>
            </li>
            <li class="nav-link">
                <a href="#">Noticias</a>
            </li>
            <li class="nav-link">
                <a href="#">Foro</a>
            </li>
        </ul>  

        <div class="nav-usuarios">
            {% if user.is_authenticated %}
                <div class="nav-usuario-contenedor">
                    <div class="nav-usuario-img">
                    {% if user.imgUsuario %}
                        <img src="{{request.user.imgUsuario.url}}" alt="Imagen del usuario {{ request.user.username }}" class="nav-usuario-imagen">
                    {% else %}
                        <img src="{% static 'wardogs/img/default_user.jpg' %}" alt="Imagen del usuario {{ request.user.username }}" class="nav-usuario-imagen">
                    {% endif %}
                    </div>
                    
                    <p>{{request.user.username}}</p>
                </div>
            {% else %}
                <a class="btn-ingresar">Ingresar</a>
                <a class="btn-registrarse">Registrarse</a>
            {% endif %}
        </div>
    </nav>

    {% if user.is_superuser or user.groups.all.0.name == 'Staff' %}
        <div id="acciones-contenedor"></div>
    {% endif %}

    

    {% block body %} {% endblock %}
    <footer>
        <div class="footer-menu-links">
            <h3 class="footer-menu-titulo">Menu</h3>

            <a href="#" class="footer-menu-link">Inicio</a>
            <a href="#" class="footer-menu-link">Misiones</a>
            <a href="#" class="footer-menu-link">Miembros</a>
            <a href="#" class="footer-menu-link">Nosotros</a>
            <a href="#" class="footer-menu-link">Insignias</a>
            <a href="#" class="footer-menu-link">Noticias</a>
            <a href="#" class="footer-menu-link">Foro</a>
        </div>
    </footer>
    {{user.is_superuser|json_script:"user_superuser"}}
    {% if user.groups.all.0 %}
        <script id="user_group" type="application/json">"{{user.groups.all.0}}"</script>
    {% endif %}
    {{token|json_script:"user_token"}}
    {{request.user.id|json_script:"user_id"}} 
  </body>
</html>
